@font-face {
	font-family: Avenir;
	src: url('../macfonts/Avenir/ttc/Avenir.ttc');
}

@font-face {
	font-family: Avenir-Light;
	src: url('../macfonts/Avenir/Avenir-Light.ttf');
}

@font-face {
	font-family: Avenir-Medium;
	src: url('../macfonts/Avenir/Avenir-Medium.ttf');
}

@font-face {
	font-family: Avenir-Heavy;
	src: url('../macfonts/Avenir/Avenir-Heavy.ttf');
}